<div class="completed-<%= goal.escape('finished') %>">
  <div class="row goal-name">
    <div class="row centered name-container">
    	<h1 id="goal-<%=goal.escape('id')%>-name"><%= goal.escape("name") %></h1>
    </div>
  </div>
  <div class="row goal-detail-top" id="goal_<%= goal.escape("id") %>_detail">
  	<div class="large-12 large-centered columns">
      <!-- Time Frame -->
  		<div class="detail-minor large-2 columns">
  			<h5 class="goal-detail-label  goal-time-frame-clickable">
          Time Frame
        </h5>
  		</div>
  		<div class="detail-minor large-2 columns">
        <% var goalId = parseInt(goal.escape("time_frame_id")) %>
  			<h5 class="goal-detail-field-center goal-time-frame-clickable">
          <%= timeFrames.where({id: goalId})[0].escape("frame") || "&nbsp;" %>
        </h5>
  		</div>
      <!-- Finish Date -->
  		<div class="detail-minor large-2 columns">
  			<h5 class="goal-detail-label goal-finish-date-clickable">Finish Date</h5>
  		</div>
  		<div class="detail-minor large-2 columns">
  			<h5 class="goal-detail-field-center goal-finish-date-clickable
              goal-<%=goal.escape('id')%>-finish-date">
              <%= goal.escape("finish_date").slice(0,10) || "&nbsp;" %></h5>
  		</div>
      <!-- Status -->
  		<div class="detail-minor large-2 columns">
  			<h5 class="goal-detail-label">Status</h5>
  		</div>
  		<div class="detail-minor large-2 columns">
  			<div class="switch">
  				<% if (finished == "true") { %>
  				  <input id="<%= goal.escape('id') %>_not_completed"
  						class="finished"
  						name="<%= goal.escape('id') %>_completion"
  						type="radio"
  						data-id="<%= goal.escape('id') %>"
  				  <label for="<%= goal.escape('id') %>_not_completed"
  					class="finish-clickable no">Incomplete</label>

  				  <input id="<%= goal.escape('id') %>_completed"
  						class="finished"
  						name="<%= goal.escape('id') %>_completion"
  						type="radio" checked
  						data-id="<%= goal.escape('id') %>">
  				  <label for="<%= goal.escape('id') %>_completed"
  					class="finish-clickable yes">Completed</label>

  				<% } else { %>

  				  <input id="<%= goal.escape('id') %>_not_completed"
  						class="finished"
  						name="<%= goal.escape('id') %>_completion"
  						type="radio" checked
  						data-id="<%= goal.escape('id') %>">
  				  <label for="<%= goal.escape('id') %>_not_completed"
  					class="finish-clickable no">Incomplete</label>

  				  <input id="<%= goal.escape('id') %>_completed"
  						class="finished"
  						name="<%= goal.escape('id') %>_completion"
  						type="radio"
  						data-id="<%= goal.escape('id') %>">
  				  <label for="<%= goal.escape('id') %>_completed yes">Completed</label>
  				<% }; %>
  			</div>
  		</div>
  	</div>
  </div>
</div>
    <!-- Description -->
<div class="completed-<%= goal.escape('finished') %>">
  <div class="row goal-detail-bottom" id="goal_<%= goal.escape("id") %>_detail">

    <div class="large-12 large-centered columns">
  		<div class="description-row">
        <div class="large-12">
  				<div class="detail-major large-2 columns" >
  					<h5 class="goal-detail-label goal-description-clickable">
              Description
            </h5>
  				</div>
  				<div class="detail-major large-10 columns">
  					<h5 class="goal-detail-field-left goal-description-clickable
              goal-<%=goal.escape('id')%>-description">
              <%= goal.escape("description") || "&nbsp;"%></h5>
  				</div>
        </div>
  		</div>
      <div id="delete-button">Delete</div>
      <% if (currentPath == "#archived") {%>
        <div id="archive-button">Unarchive</div>
      <%} else {%>
        <div id="archive-button">Archive</div>
      <% } %>
    </div>
  </div>
</div>