<div class="completed-<%= goal.escape('finished') %>" id="#goal-<%= goal.escape('id') %>">
  <div class="row small-12 columns tag-container" id="goal-<%=goal.get('id')%>-tags">
  </div>
  <div class="row goal-name">
    <div class="row centered name-container">
    	<h1 id="goal-<%=goal.escape('id')%>-name"><%= goal.escape("name") %></h1>
    </div>
  </div>
  <div class="row goal-detail-top" id="goal_<%= goal.escape("id") %>_detail">
  	<div class="large-12 large-centered columns">
      <!-- Time Frame -->
  		<div class="detail-minor large-2 columns">
  			<h5 class="goal-detail-label  goal-time-frame-clickable">
          Time Frame
        </h5>
  		</div>
  		<div class="detail-minor large-2 columns">
        <% var goalId = parseInt(goal.escape("time_frame_id")) %>
  			<h5 class="goal-detail-field-center goal-time-frame-clickable">
          <%= timeFrames.where({id: goalId})[0].escape("frame") || "&nbsp;" %>
        </h5>
  		</div>
      <!-- Finish Date -->
  		<div class="detail-minor large-2 columns">
  			<h5 class="goal-detail-label goal-finish-date-clickable">Finish Date</h5>
  		</div>
  		<div class="detail-minor large-2 columns">
  			<h5 class="goal-detail-field-center goal-finish-date-clickable
              goal-<%=goal.escape('id')%>-finish-date">
              <%= goal.escape("finish_date").slice(0,10) || "&nbsp;" %></h5>
  		</div>
      <!-- Status -->
  		<div class="detail-minor large-2 columns goal-status-clickable">
  			<h5 class="goal-detail-label" id="finish-click-<%=goal.escape('id')%>">
          Status
        </h5>
  		</div>
  		<div class="detail-minor large-2 columns">
  			<div class="finish-switch">
          <% if (finished == "true") {%>
            <div class="finished completed-button"
            id="finish-switch-<%=goal.escape('id')%>">
              Completed
            </div>
          <%} else { %>
            <div class="finished incomplete-button"
            id="finish-switch-<%=goal.escape('id')%>">
              Incomplete
            </div>
          <%}%>
  			</div>
  		</div>
  	</div>
  </div>
</div>
<!-- Description -->
<div class="completed-<%= goal.escape('finished') %>">
  <div class="row goal-detail-section" id="goal_<%= goal.escape("id") %>_detail">
    <div class="large-12 large-centered columns">
  		<div class="description-row">
        <div class="large-12">
  				<div class="detail-major large-2 columns" >
  					<h5 class="goal-detail-label goal-description-clickable">
              Description
            </h5>
  				</div>
  				<div class="detail-major large-10 columns">
  					<h5 class="goal-detail-field-left goal-description-clickable
              goal-<%=goal.escape('id')%>-description">
              <%= goal.escape("description") || "&nbsp;"%></h5>
  				</div>
        </div>
  		</div>
    </div>
  </div>
  <div class="goal-<%= goal.escape('finished')%>-errors">
  </div>
</div>
<div class="completed-<%= goal.escape('finished') %>">
  <div class="row goal-detail-section" id="goal_<%= goal.escape("id") %>_detail">
  </div>
</div>
<div class="completed-<%= goal.escape('finished') %>">
  <div class="row goal-detail-bottom" id="goal_<%= goal.escape("id") %>_detail">
    <div class="goal-<%= goal.escape('finished')%>-errors">
    </div>
    <div class="goal-footer large-12">
      <div id="delete-button">Delete</div>
        <% if (currentPath == "#archived") {%>
      <div id="archive-button">Unarchive</div>
        <%} else {%>
      <div id="archive-button">Archive</div>
        <% } %>
    </div>
  </div>
</div>