<div class="large-12 goal-detail-edit">
	<div class="row large-12">
    <!-- time frame -->
		<div class="label large-2 columns">
			<label for="Today_radio"><h3 class="edit-detail-field">Time Frame</h3></label>
		</div>
		<div class="field large-10 columns">
  		<ul class="button-group">
  			<% timeFrames.each(function(timeFrame) { %>
  				<% var frame = timeFrame.escape('frame') %>
          <% var timeFrameId = timeFrame.escape('id')%>
          <% var goalTimeId = goal.escape('time_frame_id') %>
          <% var goalId = goal.escape('id') %>
  				<% if (timeFrameId == goalTimeId) {%>
  					<input type="radio" name="time_frame_<%=goalId%>" id="<%= frame %>_radio_for_goal_<%= goalId %>" value="<%= timeFrameId %>" checked >
  				<%} else {%>
  					<input type="radio" name="time_frame_<%=goalId%>" id="<%= frame %>_radio_for_goal_<%= goalId %>" value="<%= timeFrameId %>">
  				<% } %>
  				<label class="radio-label" for="<%= frame %>_radio_for_goal_<%= goalId %>"><%= frame %></label>
  			<% }) %>
  		</ul>
		</div>
	</div>
</div>