<span class="centered" style="color: #bbb; margin-bottom: -5px">
  Press enter again to quick-add your goal.
</span>
<div class="large-12 goal-detail-add">
	<div class="row large-12">
    <!-- time frame -->
		<div class="label large-2 columns">
			<label for="Today_radio"><h3 class="new-detail-field">Time Frame</h3></label>
		</div>
		<div class="field large-10 columns">
		<ul class="button-group">
			<% timeFrames.each(function(timeFrame) { %>
				<% var frame = timeFrame.escape('frame') %>
        <% var id = timeFrame.escape('id')%>
				<% if (id == "1") {%>
					<input type="radio" name="time_frame" id="Today_radio" value="<%= id %>" checked >
				<%} else {%>
					<input type="radio" name="time_frame" id="<%= frame %>_radio" value="<%= id %>">
				<% } %>
				<label class="radio-label" for="<%= frame %>_radio"><%= frame %></label>
			<% }) %>
		</ul>
		</div>
    <!-- finish date -->
    <% var now = new Date() %>
		<div class="label large-2 columns">
			<label for="finish_date"><h3 class="new-detail-field">Finish Date</h3></label>
		</div>
		<div class="field large-10 columns">
			<input type="date" id="finish_date" min=<%= todayString %> value=<%= todayString %> tabindex=3>
		</div>
    <!-- description -->
		<div class="label large-2 columns">
			<label for="goal_description"><h3 class="new-detail-field">Description</h3></label>
		</div>
		<div class="field large-10 columns">
			<textarea rows="3"
        placeholder="Describe your goal with a few extra details"
        id="goal_description" tabindex=4></textarea>
		</div>
    <!-- tags -->
		<div class="label large-2 columns">
			<label for="goal_tags"><h3 class="new-detail-field">Tags</h3></label>
		</div>
		<div class="field large-10 columns">
			<input type="text" placeholder="Press enter to input this tag" id="goal_tags" tabindex=5></textarea>
		</div>
    <div class="large-2 columns"> &nbsp;</div>
    <div class="large-6 columns current-tags"> &nbsp;</div>
    <div class="large-4 columns potential-tags"><p>i.e. programming, fitness, life, finance</p></div>
	</div>
</div>