<span class="centered" style="color: #bbb; margin-bottom: -5px">
  Press enter again to quick-add your goal.
</span>
<div class="large-12 goal-detail-add">
	<div class="row large-12">
    <!-- time frame -->
		<div class="label large-2 columns">
			<label for="Today_radio"><h3 class="new-detail-field">Time Frame</h3></label>
		</div>
		<div class="field large-10 columns">
		<ul class="button-group">
			<% timeFrames.each(function(timeFrame) { %>
				<% var frame = timeFrame.escape('frame') %>
        <% var id = timeFrame.escape('id')%>
				<% if (id == "1") {%>
					<input type="radio" name="time_frame" id="Today_radio" value="<%= id %>" checked >
				<%} else {%>
					<input type="radio" name="time_frame" id="<%= frame %>_radio" value="<%= id %>">
				<% } %>
				<label class="radio-label" for="<%= frame %>_radio"><%= frame %></label>
			<% }) %>
		</ul>
		</div>
    <!-- finish date -->
    <% var now = new Date() %>
		<div class="label large-2 columns">
			<label for="finish_date"><h3 class="new-detail-field">Finish Date</h3></label>
		</div>
		<div class="field large-10 columns">
      <% console.log(todayString)%>
			<input type="date" id="finish_date" min=<%= todayString %> value=<%= todayString %> tabindex=3>
		</div>
    <!-- description -->
		<div class="label large-2 columns">
			<label for="goal_name"><h3 class="new-detail-field">Description</h3></label>
		</div>
		<div class="field large-10 columns">
			<textarea rows="4"
        placeholder="Run around the Charles under 6:30 at least 3 times per week"
        id="goal_description" tabindex=4></textarea>
		</div>
	</div>
</div>